<!--  <h1>Footer Section</h1>  -->

{% load static %}
<div class="row footcolor mt-3 bg-dark" style="color: aliceblue;">

    <div class="col-md-4 p-3">
        <h5>Address</h5>
        <hr>
        2nd floor, landmark building,<br>
        Pune 411002 <br>
        Maharashtra, <br>
        
    </div>
    <div class="col-md-4 p-3">
        <h5>Contact Us</h5>
        <hr>
        Contact-7821053848 <br>
        info@gasbookingservice.com
    </div>
    <div class="col-md-4 p-3">
        <h5>Quick Links</h5>
        <hr>
        <a href="/home" class="anchor">Home</a><br>
        <a href="/viewconnection" class="anchor">View Connection</a><br>
        <a href="/connection" class="anchor">Create Connection</a><br>
        <a href="/viewbooking" class="anchor">Booking History</a>
    </div>
    
    <div class="col-md-12 p-3">
        <hr>
        <center><h5>Thank you for supporting us..!! </h5></center>
        <hr>
    </div>

</div><!--Footer Section End-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>
