{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="row mt-5">
    <div class="col-md-12 mx-auto shadow pt-2 mt-3" style="border-radius: 20px;">

     <center><b><h3>Booking History</h3></b></center>
     <hr>
     {% if success %}
     <div class="alert alert-success" role="alert">
         {{success}}
     </div>
     {% endif %}
     
    <div style="text-align: right;">
        <a href="/connection">
            <button type="button" class="btn btn-outline-dark btn-light">Create New Connection</button>
        </a>
    </div><br>

    <table class="table table-striped" border="1" align="center">
        <tr style="background-color: rgb(48, 118, 76); color: aliceblue;">
            <th>Booking ID</th>
            <th>Connection ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Reffilling</th>
            <th>Booking Date</th>
            <th>Status</th>
            <th></th>
        </tr>
        {%for x in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{x.connection.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>{{x.mobile}}</td>
            <td>{{x.address}}</td>
            <td>{{x.ref}}</td>
            <td>{{x.bookdate}}</td>
            <td>{{x.status}}</td>

            <td><a href="/deletebooking/{{x.id}}"><i class="bi bi-trash"></i></a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock 'main' %}